body{
    padding-left:15px;
    padding-right:15px;
}

#catImagePlotArea{
    max-width:675px;
}

#vscmmDesktopContainer>div.container-controls{
    margin-top: 23px;
}

#vscmmMonitoringTitleDiv{
    background-color:#D8D8D8;
    padding-left:15px;
    padding-top:1px;
    padding-bottom:1px;
    margin-top:15px;
    margin-bottom:7px;
}

#vscmmEmptyModal .modal-body{
    line-height: normal;
}

#vscmmEmptyModal .modal-body hr{
    margin-top: unset;
    margin-bottom: unset;
}

#quakeDetail .modal-body{
    line-height: normal;
}

#quakeDetail .modal-body hr{
    margin-top: unset;
    margin-bottom: unset;
}

input.age{
    width:8em;
    box-sizing:border-box;
}

input.age.error{
    border-color:red;
}

div#customAge{
    padding-left:4px;
    margin-top:4px;
}

div#dateError{
    color:red;
    font-weight:bold;
    text-align:center;
    width:100%;
    float:left;
}

.modal-dialog.wide720{
    width:720px;
}

#plotGenerating{
    display:none;
}

button.btn{
    padding:6px 6px;
}

#vscmmMapContainer{
	width: calc( 100% - 300px );
	min-width: 300px;
}

span.esriAttribution{
	position:relative;
	right:125px;
}

.panel-group{
	margin-bottom: 5px;
}

div.esriPrint{
	padding:0px;
}

select#magEnergy{
	position:absolute;
	z-index:2;
	left:53px;
}

#printButton{
    display:inline-block;
}

#refresh{
    background-color: #bcd8f4;
    border: 1px solid #759dc0;
    padding: 2px 6px 4px 6px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-image: url("form/images/buttonEnabled.png");
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -webkit-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: -o-linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    _background-image: none;
    margin:0.2em;
    line-height:16px;
    color:black;
}

#refresh:hover{
    background-color: #86bdf2;
    color: #000000;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.volcNav{
    display:inline-block;
    vertical-align:text-bottom;
    cursor:pointer;
}

#filterDist{
    width:7ch;
    display:inline-block;
    padding:0px;
    padding-left:2px;
    height:2em;
}

#filterDistOrigin{
    max-width: 17ch;
    width:auto;
    display:inline-block;
    padding:6px 0px;
    height:2em;
}

#filterAuto{
    width:auto;
    display:inline-block;
    margin-top:5px;
    height:2em;
}

#graphFooter{
    display:grid;
    grid-template-columns: auto 1fr;
}

#graphDataDiv{
    text-align: right;
}

#vscmmLegendTypes{
    margin-left:15px;
}

span.legendSymbol{
    font-size:25px;
    line-height:0px;
    color:#F7941E;
}