<div id="vscmmMonitoringTitleDiv"><h4 id="vscmmMonitoringTitle">Earthquakes</h4></div>
<div id="vscmmDesktopContainer" class="container">
    <div class="container-controls">
        <div class="panel-group" id="vscmmAccordion" role="tablist" aria-multiselectable="true">


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmVolcanoSelector"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion"
                     data-collapse-id="#vscmmVolcanoSelectorCollapse">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#vscmmAccordion"
                           href="#vscmmVolcanoSelectorCollapse" aria-expanded="true"
                           aria-controls="vscmmVolcanoSelectorCollapse">
                            Select View Region
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmVolcanoSelectorCollapse" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="vscmmVolcanoSelector">
                    <div class="panel-body">

			<div id="PrevVolcano" class="volcNav glyphicon glyphicon-circle-arrow-left"></div>
                        <select id="volcanoSelect" class="dropdownVolc" onchange="selectVolcanoChanged.call(this)">
                            <option value="Alaska" data-loc=[55.5,-164,5]>Alaska</option>
                            <option value="Edgecumbe" data-loc=[57.0514,-135.7586,10]>Edgecumbe</option>
                            <option value="Wrangell" data-loc=[62.0057,-144.0194,9]>Wrangell</option>
                            <option value="Cook_Inlet" data-loc=[60.0,-152.5,8]>Cook Inlet</option>
                            <option value="Spurr" data-loc=[61.2989,-152.2539,10]>Spurr</option>
                            <option value="Redoubt" data-loc=[60.4852,-152.7438,11]>Redoubt</option>
                            <option value="Iliamna" data-loc=[60.0319,-153.0918,11]>Iliamna</option>
                            <option value="Augustine" data-loc=[59.3626,-153.435,12]>Augustine</option>
                            <option value="Fourpeaked" data-loc=[58.7703,-153.6738,11]>Fourpeaked</option>
                            <option value="Katmai_Region" data-loc=[58.3,-154.8,9]>Katmai Region</option>
                            <option value="Snowy" data-loc=[58.3336,-154.6859,12]>Snowy</option>
                            <option value="Griggs" data-loc=[58.3572,-155.1037,12]>Griggs</option>
                            <option value="Katmai" data-loc=[58.279,-154.9533,12]>Katmai</option>
                            <option value="Novarupta" data-loc=[58.2654,-155.1591,12]>Novarupta</option>
                            <option value="Trident" data-loc=[58.235,-155.104,12]>Trident</option>
                            <option value="Mageik" data-loc=[58.1946,-155.2544,12]>Mageik</option>
                            <option value="Martin" data-loc=[58.1692,-155.3566,12]>Martin</option>
                            <option value="Ugashik-Peulik" data-loc=[57.7503,-156.37,11]>Ugashik-Peulik</option>
                            <option value="Aniakchak" data-loc=[56.88149,-158.15456,11]>Aniakchak</option>
                            <option value="Veniaminof" data-loc=[56.1979,-159.3931,10]>Veniaminof</option>
                            <option value="Cold_Bay" data-loc=[55.4,-161.5,9]>Cold Bay</option>
                            <option value="Pavlof" data-loc=[55.4173,-161.8937,11]>Pavlof</option>
                            <option value="Dutton" data-loc=[55.1867,-162.2744,11]>Dutton</option>
                            <option value="Unimak_Island" data-loc=[54.7,-163.9,10]>Unimak Island</option>
                            <option value="Shishaldin" data-loc=[54.7554,-163.9711,11]>Shishaldin</option>
                            <option value="Westdahl" data-loc=[54.5171,-164.6476,11]>Westdahl</option>
                            <option value="Akutan" data-loc=[54.1331,-165.9856,11]>Akutan</option>
                            <option value="Makushin" data-loc=[53.8899,-166.925,10]>Makushin</option>
                            <option value="Bogoslof Island" data-loc=[53.9272,-168.0344,11]>Bogoslof Island</option>
                            <option value="Okmok" data-loc=[53.397,-168.166,10]>Okmok</option>
                            <option value="Cleveland" data-loc=[52.8222,-169.945,10]>Cleveland</option>
                            <option value="Korovin" data-loc=[52.3817,-174.1653,11]>Atka Volcanic Complex</option>
                            <option value="Great_Sitkin" data-loc=[52.0765,-176.1109,11]>Great Sitkin</option>
			    <option value="Adak" data-loc=[51.792,-176.645,10]>Adak</option>
                            <option value="Kanaga" data-loc=[51.9242,-177.1623,11]>Kanaga</option>
                            <option value="Tanaga" data-loc=[51.884,-178.143,10]>Tanaga</option>
                            <option value="Gareloi" data-loc=[51.7892,-178.796,12]>Gareloi</option>
                            <option value="Semisopochnoi" data-loc=[51.9288,179.5977,11]>Semisopochnoi</option>
                            <option value="Little_Sitkin" data-loc=[51.9531,178.5356,11]>Little Sitkin</option>
			    <option value="Davidof" data-loc=[51.9542,178.326,11]>Davidof</option>
                        </select>
			<div id="NextVolcano" class="volcNav glyphicon glyphicon-circle-arrow-right"></div>

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmQuakeTable"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion"
                     data-collapse-id="#vscmmQuakeTableCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion"
                           href="#vscmmQuakeTableCollapse" aria-expanded="false" aria-controls="vscmmQuakeTableCollapse">
                            Visible Earthquakes
                        </a>&nbsp;&nbsp;
                        <button class="btn btn-primary btn-xs" title="Refresh quake data."
                                onclick="monQuakeData.updateQuakeData();">
                            <span class="glyphicon glyphicon-refresh"></span></button>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmQuakeTableCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="vscmmQuakeTable">
                    <div class="panel-body">
                        <span id="vscmmDesktopVisible_SPAN"></span>
                        <button class="btn btn-primary btn-xs" title="Download quake data."
                        	onclick="monQuakeData.downloadQuakeData();">
                            <span class="glyphicon glyphicon-download"></span>
                        </button>
                        <table class="table table-condensed vscmm-quake-table">
                            <thead>
                                <tr>
                                    <th class="vscmm-date-string">
                                        Date/Time
                                        <a href="javascript:monUI.toggleTimeUnits();"
                                           title="Click to change between UTC or my local time"
                                           class="vscmm-time-units"></a>
                                        <a href="javascript:monQuakeList.sortClicked('unixTime');"
                                           title="Click to order by date, click again to reverse order.">
                                            <span class="glyphicon glyphicon-sort text text-primary"></span></a>
                                    </th>
                                    <th class="vscmm-mag">
                                        Mag.
                                        <a href="javascript:monQuakeList.sortClicked('mag');"
                                           title="Click to order by magnitude, click again to reverse order.">
                                            <span class="glyphicon glyphicon-sort text text-primary"></span></a>
                                    </th>
                                    <th class="vscmm-depth-string">
                                        Depth <a href="javascript:monUI.toggleDepthUnits();"
                                                 title="Click to change between KM and Miles"
                                                 class="vscmm-depth-units"></a>
                                        <a href="javascript:monQuakeList.sortClicked('depthKM');"
                                           title="Click to order by depth, click again to reverse order.">
                                            <span class="glyphicon glyphicon-sort text text-primary"></span></a>

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div class="vscmm-quake-table-container">
                            <table class="table table-condensed vscmm-quake-table">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmQuakeFilter"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion"
                     data-collapse-id="#vscmmQuakeFilterCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion"
                           href="#vscmmQuakeFilterCollapse" aria-expanded="false"
                           aria-controls="vscmmQuakeFilterCollapse">
                            Filter Earthquakes
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmQuakeFilterCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="vscmmQuakeFilter">
                    <div class="panel-body">

                        <div class="width9em vscmm-left">
                            <button class="btn btn-default btn-primary vscmm-btn-quake vscmm-btn-quake-show"
                                    onclick="monQuakeUI.showAll();">
                                Show All</button>
                        </div>
                        <div class="width9em vscmm-right">
                            <button class="btn btn-default btn-primary vscmm-btn-quake vscmm-btn-quake-hide"
                                    onclick="monQuakeUI.hideAll()">
                                Hide All</button>
                        </div>
                        <br/>
                        <div class="width9em vscmm-left">

                            <b>Time Span</b><br/>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="last20"
                                <b id="vscmmLast20Label">Last 20 Events</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="day"
                                <b>Day</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="week"
                                <b>Week</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="month"
                                <b>Month</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="year"
                                <b>Year</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="custom"
                                <b>Custom</b> <span class="badge"></span>
                            </button>
                            <div id="customAge">
                                <input type="text" class="age" data-age="custom" id="customAgeFrom" size=10> -
                                <input type="text" class="age" data-age="custom" id="customAgeTo" size=10>
                            </div>
                            <div id="dateError" style="display:none">
                                Invalid date
                            </div>
                            <br/>
                            <b>Magnitude</b><br/>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="0"
                                    onclick="monQuakeUI.toggleMag(0)">
                                <b>&lt; 1</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="1"
                                    onclick="monQuakeUI.toggleMag(1)">
                                <b>1 - 2</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="2"
                                    onclick="monQuakeUI.toggleMag(2)">
                                <b>2 - 3</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="3"
                                    onclick="monQuakeUI.toggleMag(3)">
                                <b>3 - 4</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="4"
                                    onclick="monQuakeUI.toggleMag(4)">
                                <b>4+</b> <span class="badge"></span>
                            </button>
                        </div>
                        <div class="width9em vscmmModal">
                            <b>Depth km</b><br/>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="0-5"
                                    onclick="monQuakeUI.toggleDepth('0-5')">
                                <b>&lt; 5</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="5-10"
                                    onclick="monQuakeUI.toggleDepth('5-10')">
                                <b>5 - 10</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="10-15"
                                    onclick="monQuakeUI.toggleDepth('10-15')">
                                <b>10 - 15</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="15-20"
                                    onclick="monQuakeUI.toggleDepth('15-20')">
                                <b>15 - 20</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="20+"
                                    onclick="monQuakeUI.toggleDepth('20+')">
                                <b>20+</b> <span class="badge"></span>
                            </button>
                        </div>
                        <div class="width9em vscmmModal">
                            <b>Distance</b><br/>
                            <input class="form-control" type="number" min="1" max="99" id="filterDist" value="5"/>
                            km From
                            <select id="filterDistOrigin" class="form-control">
                                <option value="[]" >None</option>
                                <option value="[58.2654,-155.1591]">Novarupta</option>
                            </select>
                        </div>
			<div class="width9em vscmmModal">
			    <b>Show Auto Locations:</b>
			    <select id="filterAuto" class="form-control">
				<option value=1 selected>YES</option>
				<option value=0>NO</option>
			    </select>
			</div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmPlotHeading"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion"
                     data-collapse-id="#vscmmPlotCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion"
                           href="#vscmmPlotCollapse" aria-expanded="false" aria-controls="vscmmPlotCollapse">
                            Earthquake Plots
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmPlotCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="vscmmPlotHeading">
                    <div class="panel-body">
                        <button class="btn btn-default btn-primary vscmm-btn-plot plot-inactive"
                                onclick="monPlotMap.enableCapture();">Select Plot Area</button>
                        <button class="btn btn-default btn-primary vscmm-btn-plot plot-active"
                                onclick="monPlotMap.reset();">Hide</button><br/>
                        <span class="plot-active">
                            <br/>
                            To generate a cross-sectional plot, enter desired cross section width, then define the
                            cross-sectional area by clicking the map twice to define the two endpoints. Then click the
                            view plot button. Wait until map has completely loaded/refreshed before clicking. And click
                            slowly.
                            <br/>
                            <br/><b>Cross Section Width:</b><br/>
                            <input type="text" id="vscmmPlotWidth" onchange="monPlotMap.redraw()" class="center"
                                   value="10" size="3" maxlength="3" /> km
                            <button type="button" class="btn btn-default btn-primary btn-xs"
                                    onclick="monPlotMap.incrementWidth(1);">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-primary btn-xs"
                                    onclick="monPlotMap.incrementWidth(-1);">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <br/><br/>
                            <div id="plotGenerating">Generating. Please wait...</div>
                            <button type="button" class="btn btn-default btn-primary plot-ready" data-toggle="modal"
                                    data-target="#vscmmPlotModal">View Plot</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmInstHeading"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion"
                     data-collapse-id="#vscmmInstCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion"
                           href="#vscmmInstCollapse" aria-expanded="false" aria-controls="vscmmInstCollapse">
                            Filter Instruments
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmInstCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="vscmmInstHeading">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-default btn-primary vscmm-btn-inst-sh vscmm-btn-inst-sh-show"
                                        onclick="monInstrumentUI.showHideAll(true)">Show All</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-default btn-primary vscmm-btn-inst-sh vscmm-btn-inst-sh-hide"
                                        onclick="monInstrumentUI.showHideAll(false)">Hide All</button>
                            </div>
                        </div>
                        <div id="vscmmCategoryControls"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmSettingsHeading"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion"
                     data-collapse-id="#vscmmSettingsCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion"
                           href="#vscmmSettingsCollapse" aria-expanded="false" aria-controls="vscmmSettingsCollapse">
                            Settings
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmSettingsCollapse" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="vscmmSettingsHeading">
                    <div class="panel-body">

                        <b>Color Earthquakes</b> <i>Display earthquake colors according to their depth or age.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-color-setting="depth" onclick="monUI.toggleQuakeColor()">depth</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-color-setting="time" onclick="monUI.toggleQuakeColor()">time</button>

                        <br/><br/>

                        <b>Depth Units</b> <i>Display earthquake depths in kilometers or miles.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-depth-setting="km" onclick="monUI.toggleDepthUnits()">km</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-depth-setting="mi" onclick="monUI.toggleDepthUnits()">mi</button>

                        <br/><br/>

                        <b>Time Units</b>
                        <i>Display earthquake times in UTC or my local time.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-time-setting="utc" onclick="monUI.toggleTimeUnits()">UTC</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-time-setting="local" onclick="monUI.toggleTimeUnits()">local</button>

                        <br/><br/>

                        <b>Show Legend</b> <i>Display legend over map.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-legend-setting="off" onclick="monUI.toggleLegend('off')">Off</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-legend-setting="on" onclick="monUI.toggleLegend('on')">On</button>
                        <br/><br/>

                        <b>Show Volcanoes</b> <i>Display volcano markers on map.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-volcano-setting="off" onclick="monUI.toggleVolcanoes('off')">Off</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-volcano-setting="on" onclick="monUI.toggleVolcanoes('on')">On</button>
                        <br/><br/>

                        <b>Automatic Data Refresh</b> <i>Automatically refresh data every few minutes.</i><br/>
                        <span id="refreshDisplay"></span>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-automatic-setting="off" onclick="monUI.toggleAutoData('off')">Off</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings"
                                data-automatic-setting="on" onclick="monUI.toggleAutoData('on')">On</button>

                        <br/><br/>

                        <b>Reset</b> <i>Clear all choices and return to default settings.</i><br/>
                        <button class="btn btn-sm btn-primary vscmm-btn-settings vscmm-right"
                                onclick="persistentOptions.reset()">Reset</button>

                    </div>
                </div>
            </div>
        </div>
        <div id="printButton"></div>
	<button type="button" id="refresh">Refresh Data</button>
    </div>

    <div id="vscmmMapContainer" class="container-main" data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="design:'headline', gutters:false">

        <div id="vscmmMap"
             data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'center'"
             style="padding:0;">

            <div style="position:absolute; right:20px; top:10px; z-index:2;">
                <div data-dojo-type="dijit/TitlePane"
                     data-dojo-props="title:'Switch Basemap', closable:false, open:false">
                    <div data-dojo-type="dijit/layout/ContentPane" style="width:380px; height:280px; overflow:auto;">
                        <div id="vscmmBasemapGallery"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div id="vscmmMobileContainer" class="container">
    <div class="container-controls">

        <button class="btn btn-primary vscmm-mobile-btn" onclick="monMap.toClientLocation()"
                title="Center on my location"><span class="glyphicon glyphicon-screenshot"></span></button>

        <button class="btn btn-default vscmm-btn-quake-show vscmm-mobile-btn" title="Show all earthquakes"
                style="display:none;" onclick="monQuakeUI.showAll();"><span class="glyphicon glyphicon-transfer"></span>
        </button>

        <button class="btn btn-primary vscmm-btn-quake-hide vscmm-mobile-btn" title="Hide all earthquakes"
                onclick="monQuakeUI.hideAll()">
            <span class="glyphicon glyphicon-transfer"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn quake-list-visible" title="View map"
                onclick="monQuakeList.showHideMobile()">
            <span class="glyphicon glyphicon-globe"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn quake-list-hidden" title="View earthquake list"
                onclick="monQuakeList.showHideMobile()">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <button class="btn btn-default vscmm-mobile-btn vscmm-btn-inst-sh-show" title="Show all instruments"
                onclick="monInstrumentUI.showHideAll(true)">
            <span class="glyphicon glyphicon-stats"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn vscmm-btn-inst-sh-hide" title="Hide all instruments"
                style="display:none;" onclick="monInstrumentUI.showHideAll(false)">
            <span class="glyphicon glyphicon-stats"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn btn-help" title="Help"
                onclick="monMain.showHelpModal()">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn" title="Settings"
                onclick="monMain.showSettingsModal()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
    </div>

    <div class="container-main">
        <div id="vscmmMapContainerMobile" class="container-main"
             data-dojo-type="dijit/layout/BorderContainer"
             data-dojo-props="design:'headline', gutters:false">

            <div id="vscmmMapMobile"
                 data-dojo-type="dijit/layout/ContentPane"
                 data-dojo-props="region:'center'"
                 style="padding:0;">

                <div style="position:absolute; right:20px; top:10px; z-index:2;">
                    <div data-dojo-type="dijit/TitlePane"
                         data-dojo-props="title:'Switch Basemap', closable:false, open:false">
                        <div data-dojo-type="dijit/layout/ContentPane"
                             style="width:380px; height:280px; overflow:auto;">
                            <div id="vscmmBasemapGalleryMobile"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="vscmmQuakeListMobileContainer">
            <div class="row">
                <div class="col col-xs-6">
                    <h4 class="vscmm-pad-left-1em">
                        Date/Time
                        <a href="javascript:monUI.toggleTimeUnits();"
                           title="Click to change between UTC or my local time" class="vscmm-time-units"></a>
                        <button class="btn btn-primary btn-xs" title="Order by date"
                                onclick="monQuakeList.sortClicked('unixTime')">
                            <span class="glyphicon glyphicon-sort"></span></button>
                    </h4>
                </div>
                <div class="col col-xs-3">
                    <h4>
                        Mag.
                        <button class="btn btn-primary btn-xs" title="Order by magnitude"
                                onclick="monQuakeList.sortClicked('mag')">
                            <span class="glyphicon glyphicon-sort"></span></button>
                    </h4>
                </div>
                <div class="col col-xs-3">
                    <h4>
                        Depth <a href="javascript:monUI.toggleDepthUnits();"
                                 title="Click to change between KM and Miles" class="vscmm-depth-units"></a>
                        <button class="btn btn-primary btn-xs" title="Order by depth"
                                onclick="monQuakeList.sortClicked('depthKM')">
                            <span class="glyphicon glyphicon-sort"></span></button>
                    </h4>
                </div>
            </div>
            <div id="vscmmQuakeListMobile"></div>
        </div>
    </div>

    <br />
</div>

<!-- Plot Modal -->
<div id="vscmmPlotModal" class="modal fade" role="dialog">
    <div class="modal-dialog wide720">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Earthquake Plots</h4>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#time-depth" aria-controls="time-depth" role="tab" data-toggle="tab">Time/Depth</a>
                    </li>
                    <li role="presentation">
                        <a href="#time-magnitude" aria-controls="time-magnitude" role="tab" data-toggle="tab">Time/Magnitude</a>
                    </li>
                    <li role="presentation">
                        <a href="#cross-section" aria-controls="cross-section" role="tab" data-toggle="tab">
                            Cross-Section</a>
                    </li>
                    <li role="presentation">
                        <a href="#cumulative-magnitude" aria-controls="cumulative-magnitude" role="tab"
                           data-toggle="tab">Cum. Mag.</a>
                    </li>
                    <li role="presentation">
                        <a href="#cum-total" aria-controls="cum-total" role="tab" data-toggle="tab">
                            Cum. Total</a>
                    </li>
                    <li role="presentation">
                        <a href="#random-cat" aria-controls="random-cat" role="tab" data-toggle="tab">
                            Cat</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <br/>
                    <div role="tabpanel" class="tab-pane fade in active" id="time-depth">
                        <div id="timeDepthPlotArea" width="756" height="400"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="time-magnitude">
                        <div id="timeMagnitudePlotArea" width="756" height="400"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="cross-section">
                        <div id="crossSectionPlotArea" width="756" height="400"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="cumulative-magnitude">
                    	<select id="magEnergy">
                    		<option value=0>Magnitude</option>
                    		<option value=1>Energy (J)</option>
                    	</select>
                        <div id="cumMagPlotArea" width="756" height="400"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="cum-total">
                        <div id="cumTotalPlotArea" width="756" height="400"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="random-cat">
                        <img id="catImagePlotArea"></img>
                    </div>
                </div>

            </div>
            <div id="graphFooter" class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <div id="graphDataDiv">
		            <button type="button" class="btn btn-default" id="downloadGraphPDF">Download PDF</button>
                    <button type="button" class="btn btn-default" id="downloadGraphData">Download Data</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Settings Modal -->
<div id="vscmmSettingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-4"><h4>Color Earthquakes</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-color-setting="depth"
                                onclick="monUI.toggleQuakeColor()">depth</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-color-setting="time"
                                onclick="monUI.toggleQuakeColor()">time</button>
                    </div>
                    <div class="col-xs-4">Display earthquake colors according to their depth or age.</div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-xs-4"><h4>Depth Units</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-depth-setting="km"
                                onclick="monUI.toggleDepthUnits()">km</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-depth-setting="mi"
                                onclick="monUI.toggleDepthUnits()">mi</button>
                    </div>
                    <div class="col-xs-4">Display earthquake depths in kilometers or miles.</div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-xs-4"><h4>Time Units</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-time-setting="utc"
                                onclick="monUI.toggleTimeUnits()">UTC</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-time-setting="local"
                                onclick="monUI.toggleTimeUnits()">local</button>
                    </div>
                    <div class="col-xs-4">
                        Display earthquake times in UTC or my local time.
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-xs-4"><h4>Show Legend</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-legend-setting="on"
                                onclick="monUI.toggleLegend('on')">On</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-legend-setting="off"
                                onclick="monUI.toggleLegend('off')">Off</button>
                    </div>
                    <div class="col-xs-4">
                        Display legend over map.
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4"><h4>Show Volcanoes</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-volcano-setting="on"
                                onclick="monUI.toggleVolcanoes('on')">On</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-volcano-setting="off"
                                onclick="monUI.toggleVolcanoes('off')">Off</button>
                    </div>
                    <div class="col-xs-4">
                        Display volcano markers on map.
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary vscmm-btn-settings"
                                onclick="persistentOptions.reset()">Reset</button>
                    </div>
                    <div class="col-xs-4">
                        Clear all choices and return to default settings.
                    </div>
                </div>

            </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Mobile Help Modal -->
<div id="vscmmHelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">

                <h4>Click buttons at right to perform these actions.</h4>

                <div class="row">
                    <div class="col-sm-1">
                         <button class="btn btn-primary vscmm-mobile-btn" title="Center on my location">
                             <span class="glyphicon glyphicon-screenshot"></span></button>
                    </div>
                    <div class="col-sm-11">
                        Center map on my current location.
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="Show/hide earthquakes">
                            <span class="glyphicon glyphicon-transfer"></span></button>
                    </div>
                    <div class="col-sm-11">
                        Show or hide earthquakes on map. <i>Changes color depending on selection.</i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="View list of earthquakes" >
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        View map. <i>Hidden when map is visible.</i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="View map.">
                            <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        View list of earthquakes. <i>Hidden when earthquake list is visible.</i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="Show/hide instruments.">
                            <span class="glyphicon glyphicon-stats"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        Show or hide monitoring instruments on map. <i>Changes color depending on selection.</i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="Help">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        Display this help menu.
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="Settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        Display settings options. <i>Provides options to:</i><br/><br/>
                        <ul>
                            <li>Color earthquakes by time or depth.</li>
                            <li>View depth units in km or mi.</li>
                            <li>View times as UTC or my local time.</li>
                            <li>Turn legend on or off.</li>
                            <li>Reset options to default values.</li>
                        </ul>
                    </div>
                </div>

                <br/><br/>

                <div class="row">
                    <div class="col-sm-3">
                        <button type="button">Show Legend</button>
                    </div>
                    <div class="col-sm-9">
                        <b>Visible at bottom of map.</b>
                        Click to display legend over map. <i>Only visible when legend is hidden.</i>
                    </div>
                </div>

            </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Empty Modal -->
<div id="vscmmEmptyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="vscmmEmptyModalTitle" class="modal-title"></h4>
            </div>
            <div id="vscmmEmptyModalBody" class="modal-body"></div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Quake Detail Modal-->
<div id="quakeDetail" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="quakeDetailTitle" class="modal-title">
		    Earthquake Report <span id="quakeDetailautoLocation"></span>
		</h4>
            </div>
            <div id="quakeDetailBody" class="modal-body">
		<div class="row">
		    <div class="col">
			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Coordinates:</b></div>
			    <div class="col col-md-8">
				<span id="quakeDetaillat"></span>
				<span id="quakeDetaillong"></span>
			    </div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Depth:</b></div>
			    <div class="col col-md-8">
				<span id="quakeDetaildepthKM"></span> km
				(<span id="quakeDetaildepthMI"></span> mi)
			    </div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Magnitude:</b></div>
			    <div class="col col-md-8" id="quakeDetailmag"></div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Date:</b></div>
			    <div class="col col-md-8">
				<span id="quakeDetailquakeDateString"></span> local<br/>
				<span id="quakeDetailquakeUTCString"></span> UTC<br/>
				Age: <span id="quakeDetailDays"></span> days
			    </div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Distance From:</b></div>
			    <div class="col col-md-8" id="quakeDetailDistance"></div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Number of Phases:</b></div>
			    <div class="col col-md-8" id="quakeDetailnum-phases-used"></div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Azimuthal Gap(deg):</b></div>
			    <div class="col col-md-8" id="quakeDetailazimuthal-gap"></div>
			</div>
			
			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>RMS:</b></div>
			    <div class="col col-md-8" id="quakeDetailrms"></div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Vertical/Horizontal Error:</b></div>
			    <div class="col col-md-8">
				<span id="quakeDetailvertical-error"></span> km /
				<span id="quakeDetailhorizontal-error"></span> km
			    </div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Event ID:</b></div>
			    <div class="col col-md-8" id="quakeDetailID"></div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-4"><b>Contributing Network:</b></div>
			    <div class="col col-md-8" id="quakeDetailNetwork"></div>
			</div>

			<hr>
			<div class="row vscmm-hover">
			    <div class="col col-md-12"><b>Earthquake Hazard Program</b></div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-12">
				<a id="quakeDetailLink" href="" target="ehptab">
				    Additional information: <span id="quakeDetailEventTitle"></span>
				</a>
			    </div>
			</div>

			<div class="row vscmm-hover">
			    <div class="col col-md-12">
				<a id="quakeDetailDidYouFeel" target="ehptab">Did You Feel It?</a>
			    </div>
			</div>

		    </div>
		</div>
	    </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Loading Box -->
<div id="vscmmLoading" class="dialog-box">
    <div class="dialog-header">
        <img class="vscmm-left"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hp
                        DcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwr
                        oUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZI
                        GBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7
                        xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumC
                        YUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwm
                        dsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGcc
                        c4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2n
                        FwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceC
                        AjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <b class="vscmm-left">&nbsp;&nbsp;Loading Data</b>
        <br/>
    </div>
    <div class="vscmm-tight">
        <br/>
        <div class="loading-message">Loading data.....</div>
    </div>
    <br/>
</div>

<!-- Legend Box -->
<div id="vscmmLegend" class="dialog-box">
    <div class="dialog-header vscmm-tight">
        <b>Legend</b>
        <button type="button" class="close" aria-label="Close" onclick="monUI.toggleLegend('off')">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="vscmm-tight">
        <div id="vscmmLegendColors" class="vscmm-left"></div>
        <div id="vscmmLegendMagnitudes" class="vscmm-left"></div>
        <div id="vscmmLegendInstruments" class="vscmm-left"></div>
        <div id="vscmmLegendVolcanoes" class="vscmm-left"></div>
	<div id="vscmmLegendTypes" class="vscmm-left"></div>
    </div>
    <br/>
</div>

<button type="button" id="vscmmLegendShowButton" class="open" aria-label="Show" onclick="monUI.toggleLegend('on')">
    Show Legend</button>
